.mainCard {
    box-shadow: 5px 5px 15px 5px rgb(177, 139, 139);
}

.sun {
    text-shadow: 0px 0px 10px rgb(255, 255, 1);
}

.street {
    position: relative;
    animation-name: icon;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes icon {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 200px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.temp {
    font-family: 'Chonburi', cursive;
}

.city {
    font-family: 'Quicksand', sans-serif;
}

.day {
    font-family: 'Carter One', cursive;
}

table tr th {
    font-family: 'Roboto Slab', serif;
    text-transform: capitalize;
}

table tr td {
    font-family: 'Quicksand', sans-serif;
    color: blue;
}

.badge {
    font-family: 'Saira Stencil One', cursive;
}

.now {
    font-family: 'Frijole', cursive;
}

.date {
    font-family: 'Poiret One', cursive;
}